//
// Icon Font: iconfont
//

@font-face {
  font-family: "iconfont";
  src: font-url("iconfont_48cec8657c1864805157c8c2fb88819a.eot");
  src: font-url("iconfont_48cec8657c1864805157c8c2fb88819a.eot?#iefix") format("embedded-opentype"),
       font-url("iconfont_48cec8657c1864805157c8c2fb88819a.woff") format("woff"),
       font-url("iconfont_48cec8657c1864805157c8c2fb88819a.ttf") format("truetype"),
       font-url("iconfont_48cec8657c1864805157c8c2fb88819a.svg#iconfont") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "iconfont";
    src: font-url("iconfont_48cec8657c1864805157c8c2fb88819a.svg#iconfont") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

@mixin fontcustom {
  display: inline-block;
  font-family: "iconfont";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

[data-icon]:before,
%fontcustom,
.fc-arrow-right:before,
.fc-eye:before,
.fc-heart:before,
.fc-linkedin:before,
.fc-login:before,
.fc-person:before,
.fc-search:before {
  @include fontcustom;
}

.fc-arrow-right:before { content: "\f106"; }
.fc-eye:before { content: "\f107"; }
.fc-heart:before { content: "\f108"; }
.fc-linkedin:before { content: "\f103"; }
.fc-login:before { content: "\f105"; }
.fc-person:before { content: "\f102"; }
.fc-search:before { content: "\f104"; }

$font-iconfont-arrow-right: "\f106";
$font-iconfont-eye: "\f107";
$font-iconfont-heart: "\f108";
$font-iconfont-linkedin: "\f103";
$font-iconfont-login: "\f105";
$font-iconfont-person: "\f102";
$font-iconfont-search: "\f104";
