.root-bg
  padding: 60px 0 60px
  background-image: image-url('men-bg.jpg')
  background-repeat: no-repeat
  background-position: center bottom
  background-size: cover
  text-align: center
  +render-to(xs, ms)
    padding: 15px 0
  .container
    position: relative
  h1
    color: $white
    display: inline-block
    font-weight: 300
    font-size: 65px
    margin: 0
    line-height: 1.1
    +render-to(sm, md)
      font-size: 42px
    +render-to(xs, ms)
      font-size: 25px
    span
      background-color: rgba(0, 0, 0, .7)
      display: inline-block
      clear: both
      padding: 15px 25px
      +render-to(xs)
        width: 100%
        padding-bottom: 0
        + span
          padding: 0 0 15px
    strong
      font-weight: 300
      color: $green
    a
      color: $green
      border-bottom: 1px solid $green
      transition: all .2s linear
      &:hover, &:focus
        border-bottom: 1px solid $green
        text-decoration: none
  .subheading
    margin-top: 200px
    width: 150px
    height: 150px
    border-radius: 50%
    background-color: rgba(122, 169, 60, .9)
    text-align: center
    position: relative
    display: inline-block
    transition: all .2s linear
    &:hover
      background-color: rgba(122, 169, 60, 1)
      cursor: pointer
    +render-to(xs, ms, sm)
      margin-top: 50px
    +render-to(sm)
      margin-top: 150px
    +render-to(xs)
      width: 120px
      height: 120px
    h2
      margin: 0
      width: 80%
      color: white
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%,-40%)
      font-size: 20px
      +render-to(xs)
        font-size: 14px
      i
        display: block
        &:before
          transform: rotate(90deg)

.root-index
  .big-heading
    text-align: center
    border: 0
    margin-bottom: 15px
