h1 Listing comments

table
  thead
    tr
      th User od
      th Body
      th Video
      th
      th
      th

  tbody
    - @comments.each do |comment|
      tr
        td = comment.user_od
        td = comment.body
        td = comment.video_id
        td = link_to 'Show', comment
        td = link_to 'Edit', edit_comment_path(comment)
        td = link_to 'Destroy', comment, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Comment', new_comment_path
