p#notice = notice

p
  strong User od:
  = @comment.user_od
p
  strong Body:
  = @comment.body
p
  strong Video:
  = @comment.video_id

= link_to 'Edit', edit_comment_path(@comment)
'|
= link_to 'Back', comments_path
