- meta title: 'All categories'

.container
  h1 Listing video_categories

  table
    thead
      tr
        th Name
        th
        th
        th

    tbody
      - @video_categories.each do |video_category|
        tr
          td = video_category.name
          td = link_to 'Show', admin_video_category_path(video_category)
          td = link_to 'Edit', edit_admin_video_category_path(video_category)
          td = link_to 'Destroy', destroy_admin_video_category_path(video_category), data: {:confirm => 'Are you sure?'}, :method => :delete

  br

  = link_to 'New Video category', new_admin_video_category_path
