.heading
  h1 Editing video category
  .buttons-wrapper
    = link_to @video_category, class: 'btn btn-warning'
      i.glyphicon.glyphicon-play
      | Show category videos
    = link_to admin_video_categories_path, class: 'btn btn-default'
      i.glyphicon.glyphicon-menu-left
      | Back to all video categories

= render 'form'
