- meta title: 'All categories'

.heading
  h1 Listing video categories
  .buttons-wrapper
    = link_to new_admin_video_category_path, class: 'btn btn-success'
      i.glyphicon.glyphicon-plus
      | New video category

.videos-overview
  table.table-admin.table.table-striped.table-bordered
    thead
      tr
        th ID
        th Name
        th colspan="3" Actions

    tbody
      - @video_categories.each do |video_category|
        tr
          td = video_category.id
          td = video_category.name
          td.centered
            = link_to video_category_path(video_category), data: { :toggle => 'tooltip',
                                     :title => 'Show category videos' }
              i.glyphicon.glyphicon-play
          td.centered
            = link_to edit_admin_video_category_path(video_category), data: { :toggle => 'tooltip',
                                                     :title => 'Edit' }
              i.glyphicon.glyphicon-edit
          td.centered
            = link_to video_category, data: { :confirm => 'Are you sure?',
                                     :toggle => 'tooltip',
                                     :title => 'Delete' },
                                     :method => :delete
              i.glyphicon.glyphicon-trash
