.heading
  h1 New video category
  .buttons-wrapper
    = link_to admin_video_categories_path, class: 'btn btn-default'
      i.glyphicon.glyphicon-menu-left
      | Back to all videos

= render 'form'
