- meta title: @video_category.title + ' category'
- wide_screen(true)

.big-heading
  .container
    h2
      =< @video_category.title

.container
  - main_video = @video_category.random_video
  = render 'partials/main_video', video: main_video, source: nil

  .categories-wrapper
    .another-videos
      .category-video-heading
        h2 Another category videos
    - @video_category.six_random_videos(main_video).each do |video|
      = render 'partials/common_video', video:    video,
                                        category: nil
