.categories-box
  - if category
    .category-video-heading
      h2 =< link_to category.name, category
  = link_to video
    .video-wrapper
      .video-iframe
        = image_tag video.thumbnail
      .video-heading
        .heading
          h2 = video.title
