.main-video
  - unless source == 'detail'
    .category-video-heading
      h2
        - if source == 'homepage'
          | Video of the week -
          =< link_to video.category.name, video.category
        - else
          | Favorite category video
  .video-wrapper
    .video-iframe
      iframe src="#{video.embed_link}" frameborder="0"
    .container
      .video-heading
        .heading
          h2
            - if source == 'detail'
              = video.title
            - else
              = link_to video.title, video
        .social
          share-button
