html, body
  height: 100%
  width: 100%

body
  background-image: image-url('bg.png')
  background-repeat: repeat
  background-position: center
  background-size: auto
  color: $black-bright
  font-family: 'Lato', sans-serif
  font-size: 15px
  +antialiasing
  padding-top: $header-height
  display: table
  .content-box, .footer-box
    display: table-row
    width: 100%
    height: 100%
    > .container-fluid
      padding: 0
      margin: 0
