footer
  background-color: $black-bright
  padding: 20px 0
  .footer-nav
    +make-md-column(8)
    h4
      border-bottom: 1px solid $gray-light
      color: $gray-light
      margin: 0 0 10px
      padding-bottom: 10px
    ul
      margin: 0
      li
        display: inline-block
        padding-right: 8px
        a
          color: $white
          border-bottom: 1px solid transparent
          transition: all .1s linear
          font-size: 13px
          &:hover, &:focus
            color: $white
            border-bottom: 1px solid $white
            text-decoration: none
  .footer-text
    +make-md-column(4)
    color: $gray-footer
    text-align: right
    +render-to(xs, ms)
      text-align: center
      margin-top: 15px
      padding-top: 15px
    p
      margin: 0
      a
        color: $gray-footer
        border-bottom: 1px solid transparent
        transition: .1s linear
        &:hover, &:focus
          text-decoration: none
          border-bottom: 1px solid $gray-footer
    img
      max-width: 220px
