header
  .navbar
    background-color: $black-bright
    height: $header-height
    box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25)
    > .container
      +render-to(sm)
        padding: 0
        width: 100%
    .navbar-header
      +render-to(xs, ms, sm)
        margin: 0
    .navbar-brand
      color: $white
      text-decoration: none
      font-weight: bold
      text-transform: uppercase
      letter-spacing: 2px
      padding: 5px 0
      margin: 0 !important
      img
        height: 40px
    .navbar-nav
      float: right
      li
        a
          color: $white
          transition: all .1s linear
          +render-to(md)
            font-size: 12px
          &.opacited
            color: $gray-dark
          &:hover, &:focus
            background: $green
            color: $white
            outline: 0
          i
            padding-right: 8px
        &.active
          a
            background: $green
            color: $white
    .navbar-toggle
      margin-right: 0
      span
        background-color: $white
    .navbar-collapse
      +render-to(xs, ms, sm)
        background-color: $black-bright
        .navbar-nav
          width: 100%
          li
          a
