.navbar
  border: 0
  img
    max-height: 40px
    padding-top: 10px
  .navbar-nav
    a
      transition: all .1s ease-in-out
      &:hover, &:focus
        background: $green !important
    .highlighted
      a
        background: $orange !important
        &:hover, &:focus
          background: $orange-dark !important
    .active
      a
        background: $green !important
    .sign-out
      a
        position: relative
        &:before
          content: ""
          position: absolute
          left: 0
          height: 20px
          width: 1px
          background: $gray-very-dark
