.big-heading
  padding: 15px 0
  background-color: $black-bright
  box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25)
  border-top: 2px solid $white
  h2
    font-size: 46px
    text-transform: uppercase
    margin: 0
    color: $white
    font-weight: 300
    border-bottom: 2px solid transparent
    transition: all .2s linear
    +render-to(xs, ms)
      font-size: 35px
    a
      font-size: 50px
      text-transform: uppercase
      margin: 0
      color: $white
      font-weight: 300
      border-bottom: 2px solid transparent
      transition: all .2s linear
      &:hover, &:focus
        border-bottom: 2px solid $white
        text-decoration: none
      +render-to(xs, ms)
        font-size: 35px
