.btn-base
  padding: 6px 12px
  border-radius: 0
  border: 0
  transition: all .2s linear
  height: $default-input-height
  &:hover, &:focus
    outline: 0
    text-decoration: none
.btn-dark
  @extend .btn-base
  background-color: $black-bright
  color: white
  &:hover, &:focus
    background-color: $black
