.form-control
  border-radius: 0
  height: $default-input-height
  background: $white
  border: 1px solid $black-bright
  color: $black-bright
  box-shadow: inset 0px 4px 0px 0px rgba(50, 50, 50, 0.15)
  &:hover, &:focus
    box-shadow: none
    outline: 0
    border: 1px solid $black-bright
    box-shadow: inset 0px 4px 0px 0px rgba(50, 50, 50, 0.15)
