.subscriber-bar
  background-color: $green
  margin-top: 50px
  padding: 15px 0
  +render-to(xs, ms)
    margin-top: 20px
  .left
    +make-columns(sm6, md7)
    p
      margin: 0
      font-size: 32px
      text-transform: uppercase
      color: $white
      +render-to(xs, ms)
        font-size: 17px
        margin-bottom: 15px
        text-align: center
      +render-to(ms)
        font-size: 22px
      +render-to(sm)
        font-size: 20px
        padding-top: 8px
      +render-to(md)
        font-size: 31px
      i
        +render-to(xs, ms)
          display: none
        &:before
          font-size: 50px
          position: absolute
          top: 0
          padding-left: 15px
          +render-to(sm)
            font-size: 30px
            top: 9px
  .right
    +make-columns(sm6, md5)
    .form-input
      +make-columns(sm7)
      padding: 0
      input
        height: 50px
        background: #f2f2f2
        +placeholder
          color: $gray-very-dark
          font-size: 16px
    .form-submit
      +make-columns(sm5)
      padding: 0
      .btn-dark
        width: 100%
        height: 50px
        font-size: 18px
        text-transform: uppercase
        &:hover, &:focus
          color: $white
        +render-to(sm)
          font-size: 17px
    .form-group
      margin: 0
