.category-video-heading
  h2
    background-color: $black-bright
    border-left: 8px solid $green
    color: $gray-dark
    padding: 10px
    margin: 20px 0 5px
    font-size: 18px
    text-transform: uppercase
    a
      color: $white
      transition: all .1s linear
      text-transform: none
      border-bottom: 1px solid transparent
      &:hover, &:focus
        border-bottom: 1px solid $white
        text-decoration: none

.video-wrapper
  overflow: hidden
  .video-heading
    .heading
      h2
        margin: 8px 0 15px
        padding: 0 0 10px
        font-size: 18px
        line-height: 22px
        color: $black-bright
        transition: all .1s linear
        border-bottom: 2px solid transparent
    .social
      width: 20%
      float: left
      text-align: right
      padding:
        top: 11px
        bottom: 11px
      share-button
        &:before
          top: 7px
  .video-iframe
    max-height: 202px
    overflow: hidden
    box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25)
    iframe
      width: 100%
      height: 205px
    img
      +img-responsive
      filter: brightness(.7)
      transition: all .2s ease-in
      box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25)

.main-video
  padding-bottom: 15px
  margin-bottom: 15px
  border-bottom: 1px solid $gray
  .category-video-heading
    h2
      padding: 10px
      margin: 10px 0
      font-size: 24px
      a
        border-bottom: 1px solid $white
  .video-wrapper
    .video-heading
      .heading
        width: 80%
        float: left
        padding-right: 20px
        +render-to(xs, ms)
          width: 100%
      h2
        padding-top: 4px
        font-size: 32px
        line-height: 40px
        +render-to(xs, ms)
          font-size: 24px
          margin-bottom: 0
          line-height: 30px
        a
          color: $black-bright
          border-bottom: 2px solid transparent
          transition: all .2s linear
          &:hover, &:focus
            border-bottom: 2px solid $black-bright
            text-decoration: none
      .social
        padding-top: 20px
        +render-to(xs, ms)
          text-align: left
          padding-top: 5px
          width: 100%
        .sb-social
          width: 90px
          ul
            li.enabled
              display: block
    .video-iframe
      max-height: none
      box-shadow: none
      iframe
        height: 500px
        box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25)
        +render-to(ms)
          height: 400px
        +render-to(ms)
          height: 320px
        +render-to(xs)
          height: 250px
.categories-wrapper
  +make-row()
  +display-flex
  .another-videos
    +make-columns(xs12)
    h2
      margin-bottom: 10px
  .categories-box
    +make-columns(ms6, md4)
    a
      &:hover, &:focus
        text-decoration: none
        .video-wrapper
          img
            transform: scale(1.1)
            filter: brightness(1)
.detail-category
  a
    color: $green
    border-bottom: 1px solid transparent
    transition: all .1s linear
    font-weight: bold
    &:hover, &:focus
      color: $green
      border-bottom: 1px solid $green
      text-decoration: none

.videos-show
  .main-video
    padding-top: 2px
    .video-iframe
      iframe
        box-shadow: 0px 5px 5px 0px rgba(50, 50, 50, 0.25)
.video_categories
  .video-wrapper
    .container
      padding: 0
      width: auto
