nav.admin.navbar.navbar-inverse.navbar-fixed-top role='navigation'
  .container
    .navbar-header
      button.navbar-toggle.collapsed data-target='#admin-menu' data-toggle='collapse' type='button'
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      = link_to admin_root_path
        = image_tag('logo-footer.png')

    #admin-menu.collapse.navbar-collapse
      ul.nav.navbar-nav.navbar-right
        li.highlighted
          = link_to new_admin_video_path
            i.glyphicon.glyphicon-plus
            | New video
          = active_link_to 'All videos', admin_videos_path, :wrap_tag => :li
          = active_link_to 'All categories', admin_video_categories_path, :wrap_tag => :li
        li.sign-out
          = link_to destroy_administrator_session_path, method: :delete
            i.glyphicon.glyphicon-log-out
            | Sign out
