- meta title: 'All categories'

h1
  i.glyphicon.glyphicon-list
  | Video categories

.categories-wrapper
  - @video_categories.each do |video_category|
    .another-videos
      .category-video-heading
        h2 = link_to video_category.name, video_category
    - video_category.three_random_videos.each do |video|
      = render 'partials/common_video', video:    video,
                                        category: nil
