h1 Listing subscribers

table
  thead
    tr
      th Email
      th
      th
      th

  tbody
    - @subscribers.each do |subscriber|
      tr
        td = subscriber.email
        td = link_to 'Show', subscriber
        td = link_to 'Edit', edit_subscriber_path(subscriber)
        td = link_to 'Destroy', subscriber, data: {:confirm => 'Are you sure?'}, :method => :delete

br

= link_to 'New Subscriber', new_subscriber_path
