- meta title: 'Welcome'
- wide_screen(true)

.root-bg
  .container
    h1
      span
        | Watch awesome
        =< link_to 'video stories', '/video_categories'
      span
        | and
        strong<> kick up
        | yourself
    .subheading
      h2
        | Top videos from various sources
        i.fc-arrow-right

.big-heading
  .container
    h2
      =< link_to '/video_categories'
        | All categories
.root-categories
  .container
    .categories-wrapper
      - categories.each do |category|
        = render 'partials/common_video', video:    category.random_video,
                                          category: category
