.alert
  width: 100%
  border: none
  border-radius: 0
  z-index: 5
  margin-bottom: 0
  text-align: center
  color: #ffffff
  line-height: 0.8
  position: relative
  font-size: 15px
  padding:
    top: 10px
    bottom: 10px
  &.alert-danger
    background: #D81829
  &.alert-info
    background: #00A1C0
  &.alert-success, &.alert-notice
    background: #27B558
  &.alert-warning
    background: #F0E296
    color: #ffffff
  &.alert-alert
    @extend .alert-danger
    color: #fff
  button.close
    position: absolute
    top: 4px
    right: 10px
