footer
  .container
    .row
      .footer-nav
        h4 Video categories
        ul
          - categories.each do |category|
            li
              = link_to category.name, category
      .footer-text
        = image_tag('logo-footer.png')
        p
          => mail_to 'info@trippeos.com'
          | - &copy; 2016
