header
  nav.navbar.navbar-fixed-top
    .container
      .navbar-header
        = link_to root_path, class: 'navbar-brand'
          = image_tag('logo-light.png')
        button.navbar-toggle.collapsed data-target="#header-nav" data-toggle="collapse"
          span.sr-only
          span.icon-bar
          span.icon-bar
          span.icon-bar

      #header-nav.collapse.navbar-collapse
        ul.nav.navbar-nav
          = active_link_to root_path, :wrap_tag => :li, :active => :exact
            i.glyphicon.glyphicon-home
            | Homepage
          = active_link_to '/video_categories', :wrap_tag => :li, :active => :exact
            i.glyphicon.glyphicon-list
            | All categories
          - categories.each do |category|
            = active_link_to category.name, category, :wrap_tag => :li, class: 'opacited'
