.subscriber-bar
  .container
    .row
      .left
        p
          | Subscribe for the latest news
          i.fc-arrow-right
      .right
        = simple_form_for @subscriber, url: '/subscribers', method: :post do |f|
          = f.error_notification
          .form-input
            = f.input :email, label: false, as: :email, placeholder: 'Your e-mail'
          .form-submit
            .form-group
              = f.button :submit, 'Subscribe me', label: false,
                                                  class: 'btn-dark'
