= simple_form_for [:admin, @video] do |f|
  = f.error_notification

  .form-inputs
    = f.input :title
    = f.input :link
    = f.input :video_category_id, collection: VideoCategory.all
  .form-actions
    = f.button :submit, class: 'btn btn-primary'
