.heading
  h1 Editing video
  .buttons-wrapper
    = link_to @video, class: 'btn btn-warning'
      i.glyphicon.glyphicon-play
      | Play video
    = link_to admin_videos_path, class: 'btn btn-default'
      i.glyphicon.glyphicon-menu-left
      | Back to all videos

= render 'form'
