.heading
  h1 Listing videos
  .buttons-wrapper
    = link_to new_admin_video_path, class: 'btn btn-success'
      i.glyphicon.glyphicon-plus
      | New video

.videos-overview
  table.table-admin.table.table-striped.table-bordered
    thead
      tr
        th Title
        th Category
        th Link
        th colspan="3" Actions

    tbody
      - @videos.each do |video|
        tr
          td = video.title
          td = video.category.name
          td.centered
            = link_to video.link, data: { :toggle => 'tooltip',
                                          :title => 'URL to provider' }
              i.glyphicon.glyphicon-expand
          td.centered
            = link_to video_path(video), data: { :toggle => 'tooltip',
                                     :title => 'Play video' }
              i.glyphicon.glyphicon-play
          td.centered
            = link_to edit_admin_video_path(video), data: { :toggle => 'tooltip',
                                                     :title => 'Edit' }
              i.glyphicon.glyphicon-edit
          td.centered
            = link_to video, data: { :confirm => 'Are you sure?',
                                     :toggle => 'tooltip',
                                     :title => 'Delete' },
                                     :method => :delete
              i.glyphicon.glyphicon-trash

  .pagination-wrapper
    = paginate @videos, :window => 2
