- meta title: @video.title
- wide_screen(true)

= render 'partials/main_video', video: @video, source: 'detail'

.container
  .detail-category
    strong Category:
    =< link_to @video.category.name, VideoCategory.find(@video.video_category_id)

.container
  .categories-wrapper
    .another-videos
      .category-video-heading
        h2 Another similar videos
    - @video.category.six_random_videos(@video).each do |video|
      = render 'partials/common_video', video:    video,
                                        category: nil
