%base-page
  display: inline-block
  padding: 3px 6px

.pagination-wrapper
  text-align: center
  a
    color: $black
    @extend %base-page
    &:hover, &:focus
      background: $black
      color: $white
      text-decoration: none
  .page.current
    @extend %base-page
    background: $black
    color: $white
