.heading
  +make-row
  padding: 15px 0 10px
  h1
    +make-columns(ms6)
    margin: 0
    font-size: 35px
  .buttons-wrapper
    +make-columns(ms6)
    text-align: right
    a
      + a
        margin-left: 5px
a
  &:hover, &:focus
    outline: 0
  i
    padding-right: 5px
