doctype html
html
  head
    = metamagic site: 'TRIPPEOS.COM',
      title: [:title, :site],
      separator: ' – ',
      og: { image: image_url('logo-dark.png') }
    = meta_robots_tag
    meta charset='utf-8'
    meta name='viewport' content='width=device-width, initial-scale=1.0'
    = render 'favicon'
    = stylesheet_link_tag :application, media: 'all'
    = stylesheet_link_tag :print, media: 'print'
    = csrf_meta_tags

  body class=body_class
    /= render 'gtm'
    = render 'header'
    = render 'flashes'
    .content-box
      - if wide_screen
        .container-fluid = yield
      - else
        .container = yield
    .footer-box
      = render 'subscriber_bar'
      = render 'footer'

    = javascript_include_tag :application
    = yield :javascript
